<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
		{% endblock %}
	</head>
	<body>
		{% block header %}
			<div class="header">
				<h1>Tareas Symfony</h1>
				<ul class="menu">
					
                    {% if app.user %}
                        <li>
                            <a href="{{ path('tasks') }}">Inicio</a>
                        </li>
                        <li>
                            <a href="{{ path('my_task') }}">Mis tareas</a>
                        </li>
						<li>
							<a href="{{ path('task_creation') }}">Crear Tarea</a>
						</li>
                        <li class="right"><a href="">{{app.user.name ~ ' ' ~ app.user.surname}}</a></li>
                        <li class="right"><a href="{{ path('logout') }}">Cerrar sesion</a></li>
                    {% else %}
                        <li>
						    <a href="{{ path('login') }}">Login</a>
                        </li>
                        <li>
                            <a href="{{ path('register') }}">Registro</a>
                        </li>
                    {% endif %}
				</ul>
			</div>
			<div class="clearfix"></div>
		{% endblock %}
		{% block body %}{% endblock %}
		{% block javascripts %}{% endblock %}
	</body>
</html>
